.grid{
    background-color: whitesmoke;
    overflow: scroll;
}

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    display: inline-flex;
    z-index: 2;
}

.header__title {
    position: absolute;  
    width: 100%;
    font-size: xx-large;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.header__barraNavegacion {
    position: absolute;
    top: 90px;;
    width: 100%;
    text-align: center;
}

.section, .footer {
    position: relative;
    top: 150px;
    border-top: solid black 0.5px;
}

.header__barraNavegacion__elementoLista{
    display: inline-block;
    padding: 10px;
    font-size: large;
    list-style:none;
}

.section{
    background-image: url("./assets/background.jpg");
}