.grid {
    font-size: medium;
    display: grid;
    grid-template-areas:
        "header header header"
        "section section publicidad"
        "footer footer footer";
    grid-template-rows: repeat(3,); 
    grid-template-columns: repeat(3,fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px; 
    background-color: #fff;
    }

@media screen and (max-width:648px) {
    .grid{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
    background-image: linear-gradient(to left, #f5f5dc, rgb(250, 188, 129) , #e8a846);
}

section{
    grid-area: section;
}

aside{
    grid-area: publicidad;
    border: black;
    border-style: dashed;
}

.header{
    display: flex;
    z-index: 1;
    align-items: center;
}

.header__logo{
    transition: transform ease 3s;
    transform: rotate(0deg);
}
.header__logo:hover{
    transform: rotate(360deg);
}

.header__barraNavegacion{
    width: 100%;
}

.header__titleynav{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items:center;
}

.header__barraNavegacion__listaNoOrdenada{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.button{
    border: none;
    background-color: #ffff;
    transition: all 0.25s;
}

.button:hover{
    background-color:#ffff;
    border: dotted;
    cursor: pointer;
    height: 200%;
    width: 100%;
}

a{
    text-decoration: none;
}


.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div img{
    width: 100%;
}

section div{
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

form{
    height: auto;
}

.icon {
    width: 20px;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color, background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }
}

.section_shop{
    display: grid;
    grid-template-areas:
    "title title title title"
    "items1 items2 items3 items4"
    "items5 items6 items7 items8"
    "items9 items10 items11 items12"
    ;    
    grid-template-rows: auto auto auto; 
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 5px; 
    text-align: center;
}

.section_shop_title{
    grid-area: title;
}

.section_shop_items1{
    grid-area: items1;
}

.section_shop_items2{
    grid-area: items2;
}

.section_shop_items3{
    grid-area: items3;
}

.section_shop_items4{
    grid-area: items4;
}

.section_shop_items5{
    grid-area: items5;
}

.section_shop_items6{
    grid-area: items6;
}

.section_shop_items7{
    grid-area: items7;
}

.section_shop_items8{
    grid-area: items8;
}

.section_shop_items9{
    grid-area: items9;
}

.section_shop_items10{
    grid-area: items10;
}

.section_shop_items11{
    grid-area: items11;
}

.section_shop_items12{
    grid-area: items12;
}
