* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardsInterior {
    display: flex;
    gap: 40px;
    padding: 20px;
}

@media screen and (max-width: 648px) {
    .cardsInterior {
        flex-direction: column;
    }
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card img {
    max-width: 100%;
}