* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grilla {
    display: grid;
    grid-template-areas: 
        "logo logo quiensoy servicios"
        "logo logo productos contacto";
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .grilla {
        grid-template-areas: 
            "logo       logo"
            "quiensoy   servicios"
            "productos  contacto";
    }
}

@media screen and (max-width: 648px) {
    .grilla {
        grid-template-areas: 
            "logo"
            "quiensoy"
            "servicios"
            "productos"
            "contacto";
        grid-template-rows: 1.5fr repeat(4, 1fr);
    }
}

.logo {
    grid-area: logo;
    background-color: coral;
}

.quienSoy {
    grid-area: quiensoy;
    background-color: cornflowerblue;
}

.servicios {
    grid-area: servicios;
    background-color: beige;
}

.productos {
    grid-area: productos;
    background-color: green;
}

.contacto {
    grid-area: contacto;
    background-color: red;
}

.grilla__hijo {
    display: grid;
    place-items: center;
}