.grid {
    background-color: whitesmoke;
    font-size: x-small;
}

.header{
    display: flex;
    z-index: 1;
    align-items: center;
}

.header__barraNavegacion{
    width: 100%;
}

.header__titleynav{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items:center;
}

.header__barraNavegacion__listaNoOrdenada{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.footer{
    display: flex;
    justify-content: space-between;
}
