body {
  display: flex;
  height: 300px;
  flex-direction: column;
  padding: 1rem;
  border: solid red;
}

.header,
.footer {
  background-color: #62ee8e;
  padding: 01rem;
  margin: 01rem;
  text-align: center;
}

.content {
  display: flex;
  flex: 1;
}

.content .article,
.content .aside,
.content .nav {
  flex: 1;
  padding: 01rem;
  margin: 01rem;
}

.content .aside {
  background-color: #c9ee62;
}

.content .article {
  background-color: #55d4e7;
  flex: 2;
}

.content .nav {
  background-color: #ee62ec;
}