:root {
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --blue: hsl(208, 11%, 55%);
  --heading: "Poppins", sans-serif;
  --body: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body);
}




