.contenedorPadre{
    display: flex;
    background-color: gray;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: end;
    align-items: stretch;
    align-content: flex-end;
    height: 500px;
    width: 200px;
}

.contenedorHijos{
    background-color: coral;
    border: solid black;
}

.contenedorHijos1{
    background-color: blue;
    order: 1;
}