@import "./variables";
header{
    margin-top: 10vw;
}

.logo{
    transition: transform ease 3s;
    transform: rotate(0deg);
    &:hover{
        transform: rotate(360deg);
    }
}

li{
    margin-left: 3vw;
}

.imagenprincipal{
    width: 100%;
    height: 40vw;
}

.bg-lav{
    background-color: #fff;
  }
